#container {
    width: 456px;
    height: 456px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.subcont {
    width: 150px;
    height: 150px;
    border: 1px solid #ffffff;
    float: left;

}

.circle {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 1px solid #000000;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin: auto;
}

#square_red {
    background-color: #fe0000;
}

#circle_pink {
    background-color: #ffc0cb;
}

#square_blue {
    background-color: #0000fe;
}

#circle_gray {
    background-color: #808080;
}

#square_green {
    background-color: #008001;
}

#circle_violet {
    background-color: #81007f;
}

#square_yellow {
    background-color: #ffff00;
}

#circle_green {
    background-color: #008001;
}

#square_black {
    background-color: #000000;
}

#circle_red {
    background-color: #fe0000;
}

#square_darkyellow {
    background-color: #faa41a;
}

#circle_blue {
    background-color: #0000fe;
}

#square_violet {
    background-color: #81007f;
}

#circle_darkyellow {
    background-color: #faa41a;
}

#square_gray {
    background-color: #808080;
}

#circle_yellow {
    background-color: #ffff00;
}

#square_pink {
    background-color: #ffc0cb;
}

#circle_black {
    background-color: #000000;
}
